# Ignorar la carpeta .vs
.vs/
obj/Debug/net8.0/Tareas.AssemblyInfo.cs
obj/Debug/net8.0/Tareas.AssemblyInfoInputs.cache

# Ignorar archivos de compilación
bin/
obj/

# Ignorar archivos de configuración de usuario de Visual Studio
*.user
*.suo

# Ignorar otros archivos temporales
*.log
*.tmp
